[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/imguifiledialog"]
	path = vendor/imguifiledialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "vendor/luaaa"]
	path = vendor/luaaa
	url = git@github.com:gengyong/luaaa.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = git@github.com:nothings/stb
[submodule "vendor/libgit2"]
	path = vendor/libgit2
	url = git@github.com:libgit2/libgit2.git
