[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/imguifiledialog"]
	path = vendor/imguifiledialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "vendor/luaaa"]
	path = vendor/luaaa
	url = git@github.com:gengyong/luaaa.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = git@github.com:nothings/stb
[submodule "vendor/libgit2"]
	path = vendor/libgit2
	url = git@github.com:libgit2/libgit2.git
[submodule "vendor/iconfontcppheaders"]
	path = vendor/iconfontcppheaders
	url = git@github.com:juliettef/IconFontCppHeaders.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "vendor/imguizmo"]
	path = vendor/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "vendor/imgui_markdown"]
	path = vendor/imgui_markdown
	url = https://github.com/enkisoftware/imgui_markdown.git
[submodule "vendor/imnodes"]
	path = vendor/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "vendor/openal-soft"]
    path = vendor/openal-soft
    url = https://github.com/kcat/openal-soft.git
[submodule "misc/doxygen-awesome-css"]
	path = misc/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "vendor/wasm3"]
	path = vendor/wasm3
	url = https://github.com/wasm3/wasm3.git
[submodule "vendor/libintl-lite"]
	path = vendor/libintl-lite
	url = https://github.com/j-jorge/libintl-lite.git
